NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_APP_URL=http://localhost:15000
NEXT_PUBLIC_DUAR_URL=http://localhost:9003
# NEXT_PUBLIC_SELF_SERVE_ENABLED=true
# APP_SELF_SERVE_ENABLED=true
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your-google-client-id
NEXT_PUBLIC_GITHUB_CLIENT_ID=your-github-client-id
